{% extends 'mlmtree/base.html' %}

{% load static %}

{% block title %}MLMTree Login{% endblock %}

{% block body %}

    {% include 'mlmtree/snippets/menubar.html' %}

    <div class="px-4 py-3 container-fluid">
        <h2>MLMTree - Login</h2>

        <p>Hinweis: Der Entwickler dieser App übernimmt keine Haftung für deren Inhalt</p>

        <h3>Login via OAuth-Provider</h3>

        <p>
            Hinweis: Wenn kein Account mit der E-Mail besteht, wird automatisch einer erstellt.
            Falsch verknüpft? (<a href="#" data-bs-toggle="offcanvas" data-bs-target="#helpCanvas" aria-controls="helpCanvas">Hilfe</a>)
        </p>

        {% include "account/snippets/social_login.html" with next="/mlmtree/" %}

        <br>

        <h3>Login mit Passwort</h3>

        <form method="post">
            {% if not next or next == "/" or next == "/accounts/profile/" %}
            <input type="hidden" name="next" value="{% url 'mlmtree:home' %}">
            {% else %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}

            {% include 'mlmtree/snippets/form.html' with form=form %}

            <input type="submit" class="btn btn-success" value="Einloggen">
        </form>

        <br>

        <h3>Passwort vergessen?</h3>

        <br>

        <p>
            <a class="btn btn-warning" href="{% url 'account:password-reset' %}?next=/mlmtree/">
                Passwort zurücksetzen
            </a>
        </p>
    </div>

{% endblock %}

{% block help %}
    <p>
        Die Anmeldung via Google oder andere OAuth-Provider ist einfach.
        Wenn bereits ein Account mit der E-Mail besteht, wirst du automatisch eingeloggt.
        Wenn noch kein Account besteht, wird einer erstellt.
        In der Accountverwaltung (Benutzername in der Menuleiste nach dem Login) kannst du deine verknüften Accounts verwalten.
        Falls du dich ausversehen mit einem anderen Account eingeloggt hast, welchen du
        nicht zuvor verknüpft hast, kannst du mich gerne kontaktieren.
    </p>
    <hr>
    {{ block.super }}
{% endblock %}
